<!-- ---
layout: archive
--- -->

---
permalink: /home/
title: "" 
author_profile: true
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/home_image.jpg
excerpt: ''

---

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  <div class="post__wrapper">
    {% include archive-single.html type="post" %}
  </div>
{% endfor %}

{% include paginator.html %}
 -->

<meta http-equiv='refresh' content='0; URL=https://xingyhuang.github.io/home/'>
  <script type="text/javascript">
    window.location.href = "https://xingyhuang.github.io/home/";
  </script>

<!-- <meta http-equiv="refresh" content="0; URL='http://xingyhuang.github.io/home/'" />
 -->
<!--  # Welcome!

I am a postdoctoral researcher at the University of California, Santa Barbara (UCSB), USA. My research focuses on understanding the response of atmospheric dynamics to external climate forcing, the associated changes to the behavior of extreme events, and how to build credible climate projections. I am also interested in how extreme weather events would affect hydrological cycle and ecosystems, and applying maching learning techniques in climate sciences. -->

<!-- 
# Upcoming Events -->